<table cellpadding="0" cellspacing="0" border="0" width="640" class="mail-footer">
    <tbody>
        <tr><td class="mail-vertical-gutter"></td></tr>
        <tr>
            <td align="center">Mail footer goes here</td>
        </tr>
        <tr>
            <td align="center" valign="top">
                {# Example sitemap #}
                {% include "templates/modules/link-group.twig" with {
                    links : [
                        {
                            title : 'My website',
                            href : 'http://example.com'
                        },
                        {
                            title : 'My account',
                            href : 'http://example.com'
                        },
                        {
                            title : 'Unsubscribe',
                            href : 'http://example.com'
                        }
                    ]
                } %}
            </td>
        </tr>
        <tr><td class="mail-vertical-gutter"></td></tr>
    </tbody>
</table>