{% if href is not empty and title is not empty %}
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="button">
    <tbody>
        <tr>
            <td align="center" valign="middle">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="button-inner">
                    <tr>
                        <td>
                            <a href="{{ href }}" target="_blank">{{ title }}</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="44px">
                <a href="{{ href }}" target="_blank">
                    <img src="/assets/img/layout/button-inner.gif" alt="" width="44px" height="44px" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endif %}