$button-horizontal-gutter: 18px;
$button-vertical-gutter: 0;

.button {
    max-width: 320px;
    height: 44px;
    background-color: transparent;
    color: $body-color;

    td {
        padding: 0;
        margin: 0;
    }

    a {
        color: inherit;
        display: block;
        font-size: 100%;
        text-decoration: none;
        font-weight: bold;
    }
}

.button-inner {
    width: 100%;
    height: 100%;
    background-color: $primary-color;

    td {
        padding: $button-vertical-gutter $button-horizontal-gutter;
    }

    img {
        display: block;
        margin: 0;
        border: none;
        outline: none;
    }
}