<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ email.title }}</title>
        <link rel="stylesheet" href="assets/css/email.css" type="text/css" data-embed>
        <link rel="stylesheet" href="assets/css/email.css" type="text/css" data-ignore>

        <!--[if gte mso 9]>
            <link rel="stylesheet" href="assets/css/outlook.css" type="text/css">
        <![endif]-->
    </head>
    <body>
    <table id="mail" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr><td class="mail-vertical-padding">&nbsp;</td></tr>
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" border="0" width="640" class="mail-wrapper">
                    <tbody>
                        <tr>
                            <td class="mail-horizontal-padding">&nbsp;</td>
                            <td>
                            {% block content %}
                            {% endblock %}
                            </td>
                            <td class="mail-horizontal-padding">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr><td class="mail-vertical-padding">&nbsp;</td></tr>
        </tbody>
    </table>
    <!-- End of wrapper table -->
    </body>
</html>