$smartphone-max-width: 480px !default;
$tablet-max-width: 680px !default;

$base-color: black !default;
$link-color: blue !default;
$link-color--active: red !default;
$link-color--visited: purple !default;

$body-color: #ededed !default;
$primary-color: #58a618 !default;